h1{

  color: whitesmoke;

}
.violet-table {
    font-family: "garamond", serif;
    background-color: #1E1E2F;
    color: #F5F5F5;
    letter-spacing: 0.5px;
    width: 99%;
   margin-left: 0px;
  
    th {
      background-color: #3A1356;
      color: #F5F5F5;
      white-space: nowrap;  
      width: auto;
    }
  
    td {
      background-color: #1E1E2F;
      color: #F5F5F5;
      //vertical-align: middle;
    }
  
    tr:nth-child(even) td {
      background-color: #2A2A40;
    }

    td span:first-child {
        margin-right: 8px;
      }
   
  }
  .table td img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    display: block;
    border-radius: 8px;
    border: 1px solid #3A1356;
  }
  .clearance{
    background-color: #3A1356;
    border: red solid 2px;
  }
  .table-responsive {
    overflow-x: auto;
  }
  

  
  
  
  
 
  
  